{% extends "basepage.twig" %}

{% block title %}Joueurs{% endblock %}

{% block content %}

<h1 class="page-header">Joueurs <small>Gestion des joueurs</small></h1>

{% include 'admin/nav.twig' %}

{% include 'flashs.twig' %}

<p>
    Gérez les accès des joueurs depuis cette page.
</p>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Pseudo / Equipe</th>
        <th>Placement / IP</th>
        <th>Rang</th>
        <th>Etat</th>
        <th>Action</th>
    </tr>
    
    {% for key, item in players %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {{ item.login }}
                {% if item.team is defined %}
                    <br /><span style="font-size: 0.8em; font-style: italic; color: #aaa;">{{ item.team }}</span>
                {% endif %}
            </td>
            <td>
                {% if item.slot is defined %}
                    Rangée {{ ((item.slot-1)//4)|replace({
                            "12": "M",
                            "11": "L",
                            "10": "K",
                            "9": "J",
                            "8": "I",
                            "7": "H",
                            "6": "G",
                            "5": "F",
                            "4": "E",
                            "3": "D",
                            "2": "C",
                            "1": "B",
                            "0": "A"
                    }) }} - Slot {{ item.slot }}
                {% endif %}
                <br /><span style="font-size: 0.8em; font-style: italic; color: #aaa;">{{ item.ip }}</span>
            </td>
            <td>
                {% if item.rank == 1  %}
                    <span class="label">Accès normal</span>
                {% elseif item.rank == 2 %}
                    <span class="label label-success">Accès complet</span>
                {% else %}
                    <span class="label label-important">Admin</span>
                {% endif %}
            </td>
            <td>
                {% if item.ban == 0 %}
                    Actif
                {% else %}
                    Banni
                {% endif %}
            </td>
            <td>
                {% if item.rank <= 2 %}
                    {% if item.rank < 2 %}
                        <a href="{{ url('admin.players.full', {'id': key}) }}" class="btn btn-small btn-success cancelable">Accès complet</a>
                    {% else %}
                        <a href="{{ url('admin.players.normal', {'id': key}) }}" class="btn btn-small cancelable">Accès normal</a>
                    {% endif %} 
                    <a href="{{ url('admin.players.revoke', {'id': key}) }}" class="btn btn-danger btn-small cancelable">Révoquer accès</a>
                    {% if item.ban == 0 %}
                        <a href="{{ url('admin.players.ban', {'id': key}) }}" class="btn btn-danger btn-small cancelable">Bannir accès</a>
                    {% else %}
                        <a href="{{ url('admin.players.unban', {'id': key}) }}" class="btn btn-danger btn-small cancelable">Débannir accès</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Pas de joueurs</td>      
        </tr>
    {% endfor %}
</table>
    <a href="{{ url('admin.players.reset') }}" class="btn btn-danger btn-small cancelable">Rétablir les accès par défaut</a>
<p>
    
</p>

{% endblock %}
