<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    
    <title>Login &ndash; Nantarena Intranet</title>
    
    <link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/nantarena.css" rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    
      .form-signin {
        max-width: 940px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"],
      select {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <link rel="shortcut icon" href="{{ app.request.basepath }}/img/favicon.ico">
</head>
<body>

<div class="container">
    <div class="hero-unit">
        <h1>Bienvenue à la Nantarena !</h1>
        <p>
            Toute l'équipe de la Nantarena vous souhaite la bienvenue sur l'intranet de la LAN. Si vous avez une interrogation, 
            veuillez d'abord consulter les rubriques d'aides et les liens utiles. 
            Quand vous ne trouvez pas votre réponse, vous pouvez vous adresser à un admin repérable à son tee-shirt rouge.
        </p>
    </div>
    
    <form class="form-signin" method="post" action="{{ url('login') }}" novalidate>
        <h2 class="form-signin-heading">Se connecter</h2>
        
        {% include 'flashs.twig' %}
        
        <p>
            <span class="label label-info">Info</span> Pour vous connecter, veuillez utiliser votre <strong>clé d'accès au réseau</strong> écrite au dos de votre badge et votre <strong>numéro de place</strong> visible sur votre table.
        </p>
        
        <div class="row">
            <div class="span6">
                {{ form_widget(form.key, {'attr': {'class': 'input-block-level', 'placeholder': 'Votre clé d\'accès au réseau'}}) }}
            </div>
            <div class="span5">
                {{ form_widget(form.slot, {'attr': {'class': 'input-block-level input-large'}}) }}
            </div>
        </div>        
        
        {{ form_rest(form) }}
        
        <p class="text-center">
            <button class="btn btn-large btn-primary" type="submit">Connexion</button>
        </p>
    </form>
</div>
    
</body>
</html>