{% extends "basepage.twig" %}

{% block title %}Plan{% endblock %}

{% block content %}

    <h1>Plan de la salle</h1>

    <p>Retrouvez ici le placement de toutes les équipes présentes à la Nantarena.</p>

    <div class="row">
        <div class="span7">
            <div id="plan-salle">
                <div class="content">
                    <div id="rangeesOuest">
                        {% for rangee in rangees.ouest %}
                            <div class="rangee {% if app.session.get('user').slot is defined and rangee.ind == ((app.session.get('user').slot-1)//4) %}here{% endif %}" data-num="{{ rangee.numero }}" style="width: {{ rangee.width }}%; margin-left: {{ rangee.margin }}%;">{{ rangee.numero }}</div>
                        {% endfor %}
                    </div>
                    <div id="rangeesEst">
                        {% for rangee in rangees.est %}
                            <div class="rangee" data-num="{{ rangee.numero }}" style="width: {{ rangee.width }}%; margin-right: {{ rangee.margin }}%;">{{ rangee.numero }}</div>
                        {% endfor %}

                        <div id="stream">Streams<br />Consoles</div>
                        <div id="admin">Admins<br />Buvette</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            {% for rangee in rangees.all %}
                <h3 id="titre-rangee" class="text-center rangee{{ rangee.numero }} rg hide">Rangée {{ rangee.numero }} <span>{{ rangee.games|join(', ')|replace({'csgo':'CS:GO', 'lol':'LoL', 'sc2':'SC2'}) }}</span></h3>
            {% endfor %}

            <div id="plan-rangee">
                <div class="content">
                    {% for rangee in rangees.all %}
                        <div class="rangee{{ rangee.numero }} rg hide text-center">
                             {% for team in rangee.teams %}
                                {% if team.name is not empty %}
                                    {{ team.name }} <span>({{ team.game|replace({'csgo':'CS:GO', 'lol':'LoL', 'sc2':'SC2'}) }})</span><br />
                                {% endif %}
                            {% endfor %}    
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row equipes">
        {% for rangee in rangees.all %}
            <h3 id="titre-rangee" class="text-center crangee{{ rangee.numero }} crg hide">Rangée {{ rangee.numero }} <span>{{ rangee.games|join(', ')|replace({'csgo':'CS:GO', 'lol':'LoL', 'sc2':'SC2'}) }}</span></h3>
        {% endfor %}
        {% for rangee in rangees.all %}
            <table class="table crangee{{ rangee.numero }} crg hide">
                <tr>
                    <th style="width: 25%">Slot {{ rangee.num*4+1 }}</th>
                    <th style="width: 25%">Slot {{ rangee.num*4+2 }}</th>
                    <th style="width: 25%">Slot {{ rangee.num*4+3 }}</th>
                    <th style="width: 25%">Slot {{ rangee.num*4+4 }}</th>
                </tr>
                
                <tr>
                    <td>
                        {% for player in rangee.slot1 %}
                            {{ player }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for player in rangee.slot2 %}
                            {{ player }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for player in rangee.slot3 %}
                            {{ player }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for player in rangee.slot4 %}
                            {{ player }}<br />
                        {% endfor %}
                    </td>
                </tr>                
            </table>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <!-- js -->
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/js/plan.js"></script>
{% endblock %}
